.btn-store-select {
    width: 100%;
    background-color: #FFF;
    color: inherit;
}

.store-list {
    list-style-type: none;
    padding: 0;
}

.store-list-body {
    height: 500px;
    overflow: scroll;
}